@model SimpleVerityProject.Web.Models.ModelsHelper.DropListMovimentoViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
        @{ ViewBag.Title = "Index"; }
    </title>

    @Styles.Render("~/Content/css")
    <script src=”https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js”></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="text/javascript">
        window.onload = function () {
            disabledFields();
            enableBtnNew();
        }

/**/</script>

</head>
<body>

    <div class="container body-content">

        <div class="row mx-md-n5">
            <div class="col px-md-5">
                <div class="p-3 border bg-light">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd; align-content:center">
                        @Html.ActionLink("MOVIMENTO MANUAL", "Index", "Movimento", new { area = "" }, new { @class = "navbar-brand text-primary" })
                    </nav>
                </div>
            </div>
        </div>
        <br />

        <form class="myForm" id="myForm" method="post">
            <div class="row mx-md-n5">
                <div class="col px-md-5">
                    <div class="p-3 border bg-light">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-info" id="">MÊS</span>
                            </div>
                            <input type="text" name="inputMes" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col px-md-5">
                    <div class="p-3 border bg-light">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-info" id="">ANO</span>
                            </div>
                            <input type="text" name="inputAno" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 form-vertical">

                    </div>
                </div>
            </div>

            <div class="row mx-md-n5">
                <div class="col px-md-5">
                    <div class="p-3 border bg-light">
                        <label class="col-md-2">
                            @Html.LabelFor(model => model.ProdutoId, new { @class = "text-info" })
                        </label>
                        @Html.DropDownListFor(model => model.ProdutoId, Model.ProdutosDisponiveis, new { @style = "width:250px;", @class = "text-info" })
                    </div>
                </div>
                <div class="col px-md-5">
                    <div class="p-3 border bg-light">
                        <label class="col-md-2">
                            @Html.LabelFor(model => model.CosifId, new { @class = "text-info" })
                        </label>
                        @Html.DropDownListFor(model => model.CosifId, Model.CosifsDisponiveis, new { @style = "width:250px;", @class = "text-info" })
                    </div>
                </div>
            </div>

            <br />

            <div class="p-3 border bg-light">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-info">VALOR</span>
                    </div>
                    <input type="text" name="inputValor" class="form-control" aria-label="Valor em reais." aria-describedby="basic-addon1">
                </div>

                <hr />

                <div class="form-group shadow-textarea text-info">
                    <label for="exampleFormControlTextarea6 text-info">Descrição</label>
                    <textarea name="inputDesc" class="form-control z-depth-1 text-secondary" id="exampleFormControlTextarea6" rows="3" placeholder="Descreva alguma coisa aqui..."></textarea>
                </div>
            </div>

            <hr />

            <div class="text-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="reset" class="btn btn-lg btn-outline-primary btn-rounded waves-effect">LIMPAR</button>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" id="btnEnable" name="btnEnable" onclick="enableFields()" class="fa-blink btn btn-lg btn-outline-primary btn-rounded waves-effect">NOVO</button>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" onclick="enviaInformacoes()" class="btn btn-lg btn-outline-primary btn-rounded waves-effect">INCLUIR</button>
                </div>
            </div>
        </form>

        <hr />

        <div class="container px-lg-5">
            <div class="row mx-lg-n5">
                <div class="col-1 col-md-1 border bg-info"> Mês</div>
                <div class="col-1 col-md-1 border bg-info">Ano</div>
                <div class="col-2 col-md-2 border bg-info">Cod. Produto</div>
                <div class="col-2 col-md-2 border bg-info">Descricao</div>
                <div class="col-2 col-md-2 border bg-info">Lancamento</div>
                <div class="col-2 col-md-2 border bg-info">Movimentação</div>
                <div class="col-2 col-md-2 border bg-info">Valor</div>

                <!-- Force next columns to break to new line at md breakpoint and up -->
                <div class="w-100 d-none d-md-block"></div>

                <div class="col-1 col-md-1 border bg-light"> 31</div>
                <div class="col-1 col-md-1 border bg-light">2019</div>
                <div class="col-2 col-md-2 border bg-light">1</div>
                <div class="col-2 col-md-2 border bg-light">PRODUTO TESTE</div>
                <div class="col-2 col-md-2 border bg-light">1</div>
                <div class="col-2 col-md-2 border bg-light">MOVIMENTO</div>
                <div class="col-2 col-md-2 border bg-light">500,00</div>
            </div>
        </div>

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - Simple Verity Project</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

<script type="text/javascript">

    $(function () {
        $("#ProdutoId").change(function () {
                 var selectedItem = $(this).val();
                 var cosif = $("#CosifId");
              var cosifProgress = $("#carregando");
             cosifProgress.show();
             $.ajax({
                 cache: false,
                 type: "GET",
                 url: "@(Url.RouteUrl("BuscarCosif"))",
                    data: { "produtoId": selectedItem },
                    success: function (listItems) {

                        var STSelectBox = jQuery('#CosifId');

                        STSelectBox.empty();
                        if (listItems.length > 0) {

                            for (var i = 0; i < listItems.length; i++) {
                                if (i == 0) {
                                    STSelectBox.append('<option class="text-info" value="' + i + '">--Select--</option>');
                                }
                                STSelectBox.append('<option class="text-info" value="' + listItems[i].Id + '">' + listItems[i].Id + ' - ' + listItems[i].Classificacao + '</option>');
                            }
                            carregando.hide()
                        }
                        else {
                            for (var i = 0; i < listItems.length; i++) {
                                STSelectBox.append('<option class="text-info" value="' + listItems[i].Value + '">' + listItems[i].Text + '</option>');

                            }
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Falha ao buscar Cosifs.');
                        carregando.hide();
                    }
                });
            });
    });

    function enviaInformacoes() {
        
        var objeto = JSON.stringify($("form").serialize());

        //for (var i in objeto) {
        //    inputMes = objeto[i]["inputMes"];
        //    inputAno = objeto[i]["inputAno"];
        //    inputValor = objeto[i]["inputValor"];
        //    inputDesc = objeto[i]["inputDesc"];
        //    ProdutoId = objeto[i]["ProdutoId"];
        //    CosifId = objeto[i]["CosifId"];
        //}

        $.ajax({
            url: "@(Url.RouteUrl("SalvarMovimento"))",
            type: "POST",
            datatype: "json",
            data: { objeto },
            success: function (data) {
                alert('success');
            },
            error: function () {
                alert('error');
            }
        });
    }

    function disabledFields(){
        $('form *').prop('disabled', true);
    };

    function enableBtnNew() {
        $("#btnEnable").prop('disabled', false);
    };

    function enableFields(){
        $('form *').prop('disabled', false);
     };
</script>
